.root div {
  display: "flex";
  justify-content: "center";
  flex-wrap: "wrap";
  flex-direction: row;
  margin: 0.5rem;
  padding: 0;
}

.singupContainer {
  width: 50%;
  margin: 3rem auto 3rem auto;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signupTitle {
  background-color: #31986a;
  width: 100%;
  text-align: center;
  height: 5rem;
  position: relative;
  margin-bottom: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.signupTitleAligner {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.signupTitle h3 {
  color: white;
}

.signupImgSec {
  width: 100%;
  text-align: center;
  margin: auto auto 2rem auto;
}

.signupImgSec img {
  border-radius: 50px;
}

.addSkillButtonAligner button {
  width: 100%;
  margin-top: 1rem;
}

.signupSubmit {
  width: 100%;
}

.signupSubmitAligner {
  text-align: right;
  padding-top: 2rem;
}

.signupSubmitAligner input {
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.formContent {
  margin: 2rem;
}
