.img {
  width: 100%;
  transform: translateY(-25%);
}

.cardContainer {
  padding: 1rem 2rem 2rem 2rem;
  max-height: 20rem;
  overflow: hidden;
}

.red {
  color: red;
}

.yellow {
  color: #105ea7;
}
