@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

.row {
  display: flex;
  margin: auto;
  /* background-color: lightpink; */
}

.column {
  flex: 50%;
  padding: 10px;
  height: 100vh;
  /* background-color: lightgreen; */
  display: flex;
  position: relative;
}

.container {
  /* /* display: flex; */
  /* position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content; */
  /* margin: auto; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.shadowContainer {
  background-color: white;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  border-radius: 5px;
}

.moveBehind {
  z-index: -10;
}

.buttonGoogle {
  background-color: #31986a;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  min-width: 15rem;
}

.content {
  padding: 5rem 4rem 5rem 4rem;
  max-width: fit-content;
}

.marginLeft {
  margin-left: 4rem;
}

.buttonGoogle:hover {
  background-color: #1d6142;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoText {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3rem;
  margin: 0;
}
.logoSubText {
  font-family: "Reem Kufi", sans-serif;
  font-size: 1rem;
  margin: 0;
}

.backgroundImage {
  background-image: url(../../Images/background.svg);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100vh;
}
