.maxWidthJourney {
  width: 100%;
}

.halfWidthJourney {
  width: 45%;
}

.journeyButtonAligner {
  text-align: center;
}

.yesMargin {
  margin-right: 1rem;
}

.noMargin {
  margin-left: 1rem;
}

.journeyTitle {
  background-color: #31986a;
  width: 100%;
  text-align: center;
  height: 7rem;
  position: relative;
  margin-bottom: 2rem;
}

.journeyTitle p {
  color: white;
}

.journeyTitle h2 {
  color: white;
}

.dateInput {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.formLabel {
  color: rgb(97, 96, 96);
  font-size: 0.8rem;
  margin-left: 12px;
}
