.userSec {
  /* background-color: white; */
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  /* z-index: -1; */
  text-align: center;
  margin-left: 0;

  /* border: 0.5px solid rgba(0, 0, 0, 0.5); */
}

/* .column2 {
  flex: 20%;
  margin-top: 5rem;
} */

.none {
  background-color: "red";
}

.arrowContainer {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #31986a;
  border-radius: 50px;
  position: relative;
}

.red {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.posContainer {
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pos {
  position: absolute;
  top: 40%;
  /* transform: translateY(50%); */
  transform: translateX(-35%);
}

.margin {
  margin-top: 5rem;
}
