.eventPage {
  display: flex;
  margin: auto;
  width: 80%;
}

.eventPageContainer {
  background-color: white;
  padding: 5rem;
  margin-bottom: 5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 9%);
}
