.burgerContent {
  text-align: center;
}

.burgerContent a {
  text-decoration: none;
  color: black;
}

.burgerContent p {
  padding: 1rem;
  margin: 0;
  font-weight: bold;
}

.topBurger {
  margin-top: 5rem;
}

.burgerContent p:hover {
  background-color: #31986a;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.cog {
  height: 5rem;
}

.menuContainer {
  position: absolute;
  right: 0;
}
