.profImg {
  border-radius: 50px;
  margin-top: 1rem;
  /* width: 4rem; */
}

profImgContainer {
  padding: 1rem;
}

.cohort1 {
  border: 5px solid #bcd926;
  border-radius: 50%;
}

.cohort2 {
  border: 5px solid #bf4051;
  border-radius: 50%;
}

.cohort3 {
  border: 5px solid #7ab4c8;
  border-radius: 50%;
}

.cohort4 {
  border: 5px solid #ae80de;
  border-radius: 50%;
}

.cohort5 {
  border: 5px solid #e2a31d;
  border-radius: 50%;
}
