@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background-color: #f6f7f9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-------------------------------------------------------Global Styling-------------------------------------------------------*/
.container {
  width: 90%;
  margin: auto;
}

.hide {
  display: none;
}

.button {
  background-color: #31986a;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}

.button:hover {
  background-color: #1d6142;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-cancel {
  background-color: #f44336;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}

.button-cancel:hover {
  background-color: #c7372c;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formContainer {
  width: 50%;
  margin: 3rem auto 3rem auto;
  padding: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: white;
}

.createContainer {
  width: 90%;
  margin: 3rem auto 3rem auto;
  padding: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: white;
}

.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%;
}

/*---Scroll bar---*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
}

::-webkit-scrollbar-thumb {
  /* background: #31986a; */
}

::-webkit-scrollbar-thumb:hover {
  background: #1d6142;
}

/*---------Row Styling---------*/
.row {
  display: flex;
}

.column1 {
  flex: 80%;
  /* padding: 10px; */
  margin: 0 3rem 0 3rem;
}

.column2 {
  flex: 20%;
  margin-top: 5rem;
}

.welcome h3 {
  color: #31986a;
}

.welcome h4 {
  font-weight: 500;
  font-size: 0.95rem;
}

.columnTwo {
  margin-top: 5rem;
}

.base {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
