.row {
  display: flex;
  margin: auto;
  width: 90%;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
  /* background-color: lightpink; */
}

.right {
  width: 70%;
  /* background-color: lightgreen; */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.buttonRight {
  width: 100%;
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    display: flex;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
