.card {
  margin-bottom: 1rem;
}

/*----Row Styling---*/
.row {
  display: flex;
}

.column1 {
  flex: 80%;
  /* padding: 10px; */
  margin: 0 3rem 0 3rem;
}

.column2 {
  flex: 20%;
  margin-top: 5rem;
}

.welcome h3 {
  color: #31986a;
}

.welcome h4 {
  font-weight: 500;
  font-size: 0.95rem;
}

.columnTwo {
  margin-top: 5rem;
}

.buttons {
  width: 100%;
  text-align: right;
  margin-bottom: 1rem;
}

.buttons button {
  margin-left: 1rem;
}
