.linkTag {
  text-decoration: none;
  color: rgb(71, 71, 71);
}

.socialContainer {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0;
}

.socialLink {
  margin-right: 0.5rem;
}
